<tr id="article<%= article.id %>" data-toggle="modal" data-target="#modal<%= article.id %>">
  <td><%= article.title %></td>
  <td><img width="75px" height="28px" src=<%= article.src_pic %>></td>
  <td><%= article.feed %></td>
  <td><%= article.date_posted %></td>
</tr>
